<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyh.dao.EmployeeMapperPlus">
    
    <select id="getEmpById" resultMap="Dis">
        select * from employee where id=#{id}
    </select>

    <resultMap id="Dis" type="com.kangyh.bean.Employee">
        <id column="id" property="id" />
        <result column="lastName" property="lastName" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <discriminator javaType="com.kangyh.bean.Employee" column="gender">
            <case value="0">
                <association property="department" select="com."
            </case>
        </discriminator>
    </resultMap>
</mapper>