<web-app metadata-complete="true" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<servlet-name>HW</servlet-name>
		<servlet-class>Server</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HW</servlet-name>
		<url-pattern>/abc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestLifeCycleServlet</servlet-name>
		<servlet-class>TestLifeCycleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestLifeCycleServlet</servlet-name>
		<url-pattern>/qwe</url-pattern>
	</servlet-mapping>
</web-app>